{% extends 'inventory/base.html' %}
{% load static %}

{% block navbar %}

{% endblock navbar %}

{% block content %}
<div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
    
                <h1 class="alert alert-info text-center mt-5">Log In</h1>

                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="uname">Username</label>
                    <input type="text" name="username" id="uname" class="form-control">
            
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
            
                    
                    <input type="submit" value="Log In" class="btn btn-success mt-3"><br>
                    <small><a href="{% url 'signup' %}" class="text-secondary">Don't have account</a></small>
                </form>
                {{error}}
    </div>
</div>
<div class="col-sm-4">
        
</div>

{% endblock content %}