{% extends 'inventory/base.html' %}
{% block navbar %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            {% include 'inventory/navbar.html' %}
        </div>
    </div>
</div>
{% endblock navbar %}
{% block content %}
<div class="row">
    <div class="col sm-6">
        <h4 class="alert alert-danger mt-5 text-center text-secondary">Attendence Correction Form</h4>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Update" class="btn btn-success">
       </form>
       <a class="btn btn-info mt-3" style="padding-left:17px;padding-right:17px;" href="{% url 'index' %}">Home</a>

    </div>
</div>
{% endblock content %}